<ion-header>
  <ion-toolbar>
    <ion-title>สมัครสมาชิก</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="submit()">
    <ion-item>
      <ion-label position="floating">ชื่อ</ion-label>
      <ion-input [(ngModel)]="firstName" name="firstName" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">นามสกุล</ion-label>
      <ion-input [(ngModel)]="lastName" name="lastName" required></ion-input>
    </ion-item>

    <div class="camera-box">
      <video #video autoplay playsinline></video>
    </div>

    <ion-button expand="block" type="submit">สมัครและสแกนใบหน้า</ion-button>
  </form>
</ion-content>
